@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  /* Define as cores padrão para o tema claro (light mode) */
  @apply bg-tema-fundo text-tema-text;
  
  /* Estilos gerais */
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  
  /* Uma transição suave para a mudança de cor */
  transition-property: color, background-color;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 300ms;
}

/* Estilos que serão aplicados quando o modo escuro estiver ativo */
body.dark {
  @apply bg-tema-fundo-dark text-tema-text-dark;
}

#root {
  min-height: 100vh;
  width: 100vw;
}